.navbar{
    position:fixed;
    z-index: 999999999999999999999999999999999;
    width: 100%;
}

.form-group{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-brand{
    width: 80%;
    display: flex;
    align-items: center;
 
}


.form-control {
    border-radius: 30px;
    /* width: 500px; */
    width: 100%;
    margin-left: 60px;
    height: 32px;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 4%;
    top: 20%;
    color: #212529;
    cursor: pointer;
}

.navbar{
    padding: 0 30px 0 30px;
    background-color: rgb(19, 18, 18);
}


.logo{
    font-family: 'PlayFair Display';
    font-size: 30px;
    color: #CDA64E;
    cursor: pointer;
}

.cart-btn{
    color: rgb(238, 233, 233);
}


.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: rgb(238, 233, 233);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.item img {
    width: 64px;
}

.item {
    margin: 0px 15px;
    text-align: center;
}


.item a:hover {
    color: #CDA64E;
    cursor: pointer;
}

.quote{
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.item-layout h5{
   
    font-family: 'PlayFair Display';
    font-size: 25px;
    margin-left: 70px;

}


@media  (max-width: 560px){
   
    
    .logo{
        font-size: 22px;
    }
    .form-control{
        margin-left: 20px;
    }
    .cart-btn{
        width: 10px;
        display: flex;
        align-items:flex-end;
    }
    .cart-btn i{
        width: 20px;
    }
    .item img{
        width: 25px;
    }
    .item {
        margin: 0px 0px;
        text-align: center;
    }

    .item-layout{
        justify-content: space-between;
    }
    input::placeholder{
        color: transparent;
    }
    .form-control{
        height: 25px;
    }
    .search-icon{
        font-size:large;
        top: 16%;
    }
    .item-layout h5{
        display: none;
    }
}