.form-group{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-control {
    border-radius: 30px;
    width: 500px;
    margin-left: 60px;
    height: 32px;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 4%;
    top: 13px;
    color: #212529;
    cursor: pointer;
}

.navbar{
    padding: 0 30px 0 30px;
    background-color: rgb(19, 18, 18);
    
}

.logo{
    font-family: 'PlayFair Display';
    font-size: 17px;
    color: #CDA64E;
    cursor: pointer;
}

.cart-btn{
    color: rgb(238, 233, 233);
}


.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: rgb(238, 233, 233);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.item img {
    width: 64px;
}

.item {
    margin: 0px 15px;
    text-align: center;
}

.item a:hover {
    color: #CDA64E;
    cursor: pointer;
}

