<header>
    <div class="navbar navbar-dark  my-nav">
        <div class="navbar-brand ">
            <strong routerLink="home" class="logo" >SHOPSY</strong>
            <div class="form-group">
                <!-- changes in 7 -->
                <input type="text" class="form-control"   placeholder="search products">
                <span class="fas fa-search search-icon"></span>
            </div>
            
        </div>


        <button routerLink="fetchproducts" class="btn cart-btn">
            All Products
        </button>
        
        <button routerLink="cart" class="btn cart-btn">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>


