.home-layout{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 10%;
}

.carousel-item  img{
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: contain;
}

.carouselExampleCaptions{
    width: 100%;
    height: 10%;
}

