
<div class="products-layout">
    <div class="row">
        <!-- <ng-container *ngFor="let item of productList"> -->
            <div class="card col-md-3">
                <img src="https://images.pexels.com/photos/11481263/pexels-photo-11481263.jpeg" alt="">
                <h5>Zara Cloth</h5>
                <p>Price: 1299</p>
                <p>hasta la vista bheoal bwjkw </p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
        <!-- </ng-container> -->


        <!-- After data fetching these cards will be deleted -->

        <div class="card col-md-3">
            <img src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg" alt="">
            <h5>Shoes</h5>
            <p>Price: 999</p>
            <p>hasta la vista  </p>
            <button class="btn btn-primary">Add to cart</button>
        </div>

        <div class="card col-md-3">
            <img src="..." alt="">
            <h5>Zara Cloth</h5>
            <p>Price: 1299</p>
            <p>hasta la vista bheoal bwjkw </p>
            <button class="btn btn-primary">Add to cart</button>
        </div>

        <div class="card col-md-3">
            <img src="..." alt="">
            <h5>Zara Cloth</h5>
            <p>Price: 1299</p>
            <p>hasta la vista bheoal bwjkw </p>
            <button class="btn btn-primary">Add to cart</button>
        </div>

        <div class="card col-md-3">
            <img src="..." alt="">
            <h5>Zara Cloth</h5>
            <p>Price: 1299</p>
            <p>hasta la vista bheoal bwjkw </p>
            <button class="btn btn-primary">Add to cart</button>
        </div>

        <div class="card col-md-3">
            <img src="..." alt="">
            <h5>Zara Cloth</h5>
            <p>Price: 1299</p>
            <p>hasta la vista bheoal bwjkw </p>
            <button class="btn btn-primary">Add to cart</button>
        </div>

        <div class="card col-md-3">
            <img src="..." alt="">
            <h5>Zara Cloth</h5>
            <p>Price: 1299</p>
            <p>hasta la vista bheoal bwjkw </p>
            <button class="btn btn-primary">Add to cart</button>
        </div>

        <div class="card col-md-3">
            <img src="..." alt="">
            <h5>Zara Cloth</h5>
            <p>Price: 1299</p>
            <p>hasta la vista bheoal bwjkw </p>
            <button class="btn btn-primary">Add to cart</button>
        </div>

        <div class="card col-md-3">
            <img src="..." alt="">
            <h5>Zara Cloth</h5>
            <p>Price: 1299</p>
            <p>hasta la vista bheoal bwjkw </p>
            <button class="btn btn-primary">Add to cart</button>
        </div>

        <!-- ******************************************* -->

    </div>
</div>