<div class="row">
    <div class="col-75">
      <div class="container">
        <form>
        
          <div class="row">
            <div class="col-50">
              <h3>Add Product</h3>
              <label>Product Title</label>
              <input type="text" [formControl] = "product_title" />
              <label>Product Price </label>
              <input type="text" [formControl] = "product_price" />
              <label>Product Category </label>
              <input type="text" [formControl] = "product_category" />
              <label>Product Description </label>
              <input type="text" [formControl] = "product_description" />
              <label>Product Image </label>
              <input type="text" [formControl] = "product_image" />
              <button type="button" (click) = "save()">Add Product</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>